body{
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    padding: 8px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

#amt-btn{
    margin-left: 20px;
    margin-right: 20px;
}

